.main-frame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 20px 20px 20px;
  background: linear-gradient(
    180deg,
    rgba(15, 82, 186, 0.75) 0%,
    rgba(15, 82, 186, 0.75) 75%,
    transparent 100%
  );
}

.content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
