.main-frame {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 20px 20px 20px;
  background: linear-gradient(
    180deg,
    #0f52ba 0%,
    #0f52ba 75%,
    transparent 100%
  );
}

.menu {
  position: absolute;
  width: 100%;
  height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(89, 15, 186, 0.5);
  transition: height 0.3s ease;
  z-index: 100;

  &.opened {
    height: 100%;
  }
}

.content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
