.hamburger-lines {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s ease;

  &.top-open {
    transform: translateY(2.5px) rotate(45deg) translate(5px, 5px);
  }

  &.middle-open {
    opacity: 0;
  }

  &.bottom-open {
    transform: translateY(-2.5px) rotate(-45deg) translate(6px, -6px);
  }
}
